@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero-bg : url('/src/assets/banner.png');
    background-size: cover;            
    background-position: center;        
    background-repeat: no-repeat; 
}